In [1]:
import requests 
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
dfs = []
counter = 1
while counter < 1001:
    session = requests.Session()
    r = session.get(f"https://books.toscrape.com/catalogue/page-{counter}.html")
    counter = counter + 1
    if r.ok:
        page_source = r.text
        soup = BeautifulSoup(page_source, "html.parser")
        df_info = []
        for product in soup.find_all("article", {"class": "product_pod"}):
            title = product.find("h3")
            title = title.find("a")['title']
            price = product.find("p", {"class": "price_color"}).text[1:]
            rating = product.find("p", {"class": "star-rating"})
            rating = rating['class'][1]
            in_stock = product.find("p", {"class": "instock availability"}).text.strip()
            df_row = [title, price, rating, in_stock]
            df_info.append(df_row)

        df_headers = ['title', 'price', 'rating', 'in_stock']
        df = pd.DataFrame(df_info, columns=df_headers)
        dfs.append(df)
    else:
        break

final_df = pd.concat(dfs, ignore_index=True)
final_df

,title,price,rating,in_stock
0,A Light in the Attic,£51.77,Three,In stock
1,Tipping the Velvet,£53.74,One,In stock
2,Soumission,£50.10,One,In stock
3,Sharp Objects,£47.82,Four,In stock
4,Sapiens: A Brief History of Humankind,£54.23,Five,In stock
...,...,...,...,...
995,Alice in Wonderland (Alice's Adventures in Won...,£55.53,One,In stock
996,"Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)",£57.06,Four,In stock
997,A Spy's Devotion (The Regency Spies of London #1),£16.97,Five,In stock
998,1st to Die (Women's Murder Club #1),£53.98,One,In stock
999,"1,000 Places to See Before You Die",£26.08,Five,In stock

In [3]:

final_df.to_csv("book_store_info.csv", index=False)

In [4]:
df.to_csv("book_store_info.csv", index=False)