In [1]:
!pip install requests

Requirement already satisfied: requests in c:\users\labhi\appdata\local\programs\python\python312\lib\site-packages (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\labhi\appdata\local\programs\python\python312\lib\site-packages (from requests) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\labhi\appdata\local\programs\python\python312\lib\site-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\labhi\appdata\local\programs\python\python312\lib\site-packages (from requests) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\labhi\appdata\local\programs\python\python312\lib\site-packages (from requests) (2024.8.30)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\labhi\appdata\local\programs\python\python312\lib\site-packages (4.12.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\labhi\appdata\local\programs\python\python312\lib\site-packages (from beautifulsoup4) (2.6)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
pip install pandas

Requirement already satisfied: pandas in c:\users\labhi\appdata\local\programs\python\python312\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\labhi\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\labhi\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\labhi\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\labhi\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\labhi\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
import requests
from bs4 import BeautifulSoup 
import pandas as pd

In [5]:
r = requests.get("https://www.scrapethissite.com/pages/simple/")
html = r.text
soup = BeautifulSoup(html, "html.parser")

In [6]:
df_info = []
for geo in soup.find_all("div", {"class": "country"}):
    name = geo.find("h3", {"class": "country-name"}).text.strip()
    capital = geo.find("span", {"class": "country-capital"}).text
    population = geo.find("span", {"class": "country-population"}).text
    area = geo.find("span", {"class": "country-area"}).text 
    df_row = [name, capital, population, area]
    df_info.append(df_row)
df_titles = ['name', 'capital', 'population', 'area']
df = pd.DataFrame(df_info, columns=df_titles)
df

                     name           capital population       area
0                 Andorra  Andorra la Vella      84000      468.0
1    United Arab Emirates         Abu Dhabi    4975593    82880.0
2             Afghanistan             Kabul   29121286   647500.0
3     Antigua and Barbuda        St. John's      86754      443.0
4                Anguilla        The Valley      13254      102.0
..                    ...               ...        ...        ...
245                 Yemen             Sanaa   23495361   527970.0
246               Mayotte         Mamoudzou     159042      374.0
247          South Africa          Pretoria   49000000  1219912.0
248                Zambia            Lusaka   13460305   752614.0
249              Zimbabwe            Harare   11651858   390580.0

[250 rows x 4 columns]

In [7]:
df.to_csv("df_info.csv", index=False)